input, select, textarea {
  width: 80%;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 10px auto;
  color: $fontColor1;
  border: 1px solid $fontColor3;
}

input:focus {
  border: 1px solid $pr;
}

.ipt-inline {
  display: inline-block;
  width: auto;
}

//button {
//    padding: 5px 10px;
//    background: $pr;
//    color: $fontColor1;
//    outline: none;
//    border-radius: 10px;
//}

.btn-info {
  background: $in;
}

.btn-deep {
  background: $deep;
  color: #ffffff;
}

.btn-danger {
  background: $danger;
  color: #ffffff;
}
